body {
  margin: 0;
  padding: 0;
  background: #040a4f;
  color: #fff;
  font-family: "Press Start 2P", "Courier New", monospace;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}