body {
  margin: 0;
  padding: 0;
  background: #040a4f;
  color: #fff;
  font-family: "Press Start 2P", "Courier New", monospace;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 120px;
}

h2 {
    font-size: larger;
    background-color: #00010c;
}