main {
    max-width: 80%;
    margin: 15px;
    max-width: 1100px;;
}
h1 {
    font-size: 2.5rem;  
    margin-left: calc(100% *2/6); 
}
h2 {
    font-size: 1.2rem;
    font-style: italic;  
    margin-left: calc(100% *2/6); 
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 50%
}
p.callout {
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2rem;
    float: right;
    text-align: right;
    padding-left: 1em;
    width: 50%;
    margin-top: 0;
    margin-right: 1em;
}

#row1, #row2, #row15, #row5, #row8, #row11, #row14, #row15 {
   margin-left: calc(100% *1/6);
}

#row3, #row4, #row6, #row7, #row9, #row10, #row12, #row13 {
   margin-left: calc(100% *2/6);
}


/************************************************/

#secondlayout main {
    display: grid;
    grid-template-columns: repeat{6, calc(100% / 6)};
    grid-template-rows: repeat (14, auto);
    grid-template-areas: 
    'title title title title title title'
    '. p1 p1 p2 p2 .'
    'p3 p3 . . c1 c1'
    '. p4 p4 p4 . .'  
    'p5 p5 . . c2 c2'
    '. p6 p6 p6 . .'
    'p7 p7 . . c3 c3'
    '. p8 p8 p8 . .'
    'p9 p9 . . c4 c4'
    '. p10 p10 p11 p11 .'
    '. . . . p12 p12'
    '. . . p13 p13 p13'
    '. . . p14 p14 p14'
    '. . . . . .';
}

#secondlayout #header {
    grid-area: title;
    text-align: center;
}
#secondlayout #p1 {grid-area: p1;}
#secondlayout #p2 {grid-area: p2;}
#secondlayout #p3 {grid-area: p3;}
#secondlayout #co1 {grid-area: c1;}
#secondlayout #p4 {grid-area: p4;}
#secondlayout #p5 {grid-area: p5;}
#secondlayout #co2 {grid-area: c2;}
#secondlayout #p6 {grid-area: p6;}
#secondlayout #p7 {grid-area: p7;}
#secondlayout #co3 {grid-area: c3;}
#secondlayout #p8 {grid-area: p8;}
#secondlayout #p9 {grid-area: p9;}
#secondlayout #co4 {grid-area: c4;}
#secondlayout #p10 {grid-area: p10;}
#secondlayout #p11 {grid-area: p11;}
#secondlayout #p12 {grid-area: p12;}
#secondlayout #p13 {grid-area: p13;}
#secondlayout #p14 {grid-area: p14;}

#secondlayout p {
    width: 100%;
}