.image-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-column {
  background: #044647;
  color: #fff;
  display: flex;
  padding-right: 10px;
  justify-content: left;
}
.header-columns {
  display: flex;
  min-height: 300px;
}

body {
  background-color: #222; }

  h2 {
    text-style: italic; }