body {
  background-color: #222;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
}


#image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-image: url("Pacific Rhododendron 2 - Gary Monroe-1.jpeg");
}

#title {
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#title h1 .latinname {
  display: block;
  color: yellow;
  font-style: italic;
  font-size: medium;
}

#title h1 {
  position: static;
  bottom: 0;
  left: 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (orientation:landscape) {
  #image {
    width: 60vw;
  }

  #title {
    text-align: right;
    padding-right: 10px;
    font-size: x-large;
  }
  #title h1 {
    display: inline-block;
    margin: 0;
  }

  #main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .boxes {
    width: 45vw;
    margin: 5px;
  }
}

.boxes {
  background: white;
  color: black;
  padding: 24px;
  margin: 20px 0;
  border: 2px solid green;
  border-color: green
}

.boxes h2 {
  font-style: bold;
  color: #222;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (orientation:portrait) {
#main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
}

#toggleDarkMode {
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    background: darkgreen;
    color: white;
    border-radius: 6px;
}

body.darkMode {
    background-color: black;
    color: white;
}

body.darkMode .boxes {
  background: #222;
  color: white;
  padding: 24px;
  margin: 20px 0;
  border: 2px solid green;
}

body.darkMode .boxes h2 {
  color: white;
  letter-spacing: 0.04em;
}


body.darkMode #title h1 .latinname {
    color: lime;
}
