body {
  background: linear-gradient(to bottom, white, #a9e5f9, #6fcef4, #419af4, #0f61ef, #07327d, #010e24, black);
  min-height: 100vh;
  margin: 0;
  color: #111;
  text-align: left;
}

h1 {
  text-align: left;
  font-family: 'Georgia', serif;
  margin-top: 50px;
  font-size: 5rem;
}

h3 {
  text-align: left;
  font-family: 'Georgia', serif;
  margin-bottom: 40px;
}
h2 {
  text-align: left;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
  font-size: 3rem;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  background-color: rgba(173, 216, 230, 0.4);
  padding: 5px;
  
}

.img {
  display: block;
  max-width: 100%; 
  width: auto;
  max-height: 60vh;  
  height: auto;
  object-fit: cover;  
  margin: 0 auto;      
}


body {
  scroll-snap-type: y mandatory; /* enable scroll snapping on the body */
  overflow-y: auto;
}

.title {
  text-align: left;
  margin-left: 10px;
  height:100vh;
  scroll-snap-align: start; /* snap to the start of the title section */
  width: 50vw;
}

@media (orientation: portrait) {
.title {
  width: 100%;
}

}

.boxes {
  height: 100vh; /* each section takes full viewport height */
  scroll-snap-align: start; /* snap to the start of each section */
  justify-content: left;
}

.images {
  animation: fadeinUP;
  animation-duration: 2s;
}