body {
  background: linear-gradient(to bottom, #a9e5f9, #6fcef4, #419af4, #0f61ef, #07327d, #010e24);
  min-height: 100vh;
  margin: 0;
  color: #111;
  text-align: left;
}

h1 {
  text-align: left;
  font-family: 'Georgia', serif;
  margin-top: 50px;
}
h3 {
  text-align: left;
  font-family: 'Georgia', serif;
  margin-bottom: 40px;
}
h2 {
  text-align: left;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
  text-size-adjust: larger;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  background-color: rgba(173, 216, 230, 0.6);
  padding: 5px;
  
}

.img {
  display: block;
  max-width: 100%; 
  width: auto;
  max-height: 60vh;  
  height: auto;
  object-fit: cover;  
  margin: 0 auto;      
}