body {
  background: linear-gradient(to bottom, #a9e5f9, #6fcef4, #419af4, #0f61ef, #07327d, #010e24);
  min-height: 100vh;
  margin: 0;
  color: #111;
  text-align: left;
}

h1 {
  text-align: left;
  font-family: 'Georgia', serif;
  margin-top: 50px;
}
p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}