

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30, 1, 25);
    
}

body {
    background: linear-gradient(lightpink, white, lightblue);
}

.hearts {
    color: red;
  font-size: 2rem;
}

  .image {
    width: 100%;         
    margin-bottom: 10px;
    height: auto;
    display: block;
    justify-content: center;
  }

  .description {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
